.game-base-electronice {

  /* ---设置主窗口的样式 */
  #main {
    width: 360px;
    height: 420px;
    /* //设置背景颜色 */
    background-color: #b7d4a8;
    /* //设置居中 */
    // margin: 100px auto;
    margin: 15px auto;
    border: 10px solid black;
    /* //设置圆角 */
    border-radius: 20px;
    /* //开启弹性盒模式 */
    display: flex;
    /* //设置主轴方向，自上而下 */
    flex-flow: column;
    /* //设置主轴的对齐方向 */
    justify-content: space-around;
    /* //设置侧轴的对齐方式 */
    align-items: center;


    /* //游戏的舞台 */
    #stage {
      width: 304px;
      height: 304px;
      border: 2px solid black;
      /* //开启相对定位 */
      position: relative;

      /* 设置牆 */
      #wall {
        position: absolute;
        top: 0px;
        left: 0px;

        .row {
          display: flex;

          &>div {
            width: 10px;
            height: 10px;
            background-color: rgb(165, 95, 10);
            border: 1px solid #b7d4a8;
          }

          &>div.r {
            background-color: #b7d4a8;
          }
        }
      }

      /* 设置CAR */
      #car {
        position: absolute;
        top: 170px;
        left: 135px;

        .head {
          width: 10px;
          top: 0px;
          left: 10px;
          position: relative;

          &>div {
            width: 10px;
            height: 10px;
            background-color: red;
            border: 1px solid #b7d4a8;
          }
        }

        .body {
          display: flex;

          &>div {
            width: 10px;
            height: 10px;
            background-color: red;
            border: 1px solid #b7d4a8;
          }
        }
      }

      #food {
        width: 10px;
        height: 10px;
        /* //background-color: rgb(167, 37, 37); */
        /* // border: 1px solid @bg-color; */
        position: absolute;
        left: 40px;
        top: 100px;
        display: flex;
        /* //设置横轴为主轴，warp表示自动换行 */
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;

        &>div {
          width: 4px;
          height: 4px;
          background-color: rgb(167, 37, 37);
          /* //使四个div旋转45° */
          transform: rotate(45deg);
        }
      }
    }

    /* //积分盘 */
    #score-panel {
      color: #ff0000;
      font-weight: 800;

      width: 300px;
      display: flex;
      /* //设置主轴的对齐方法 */
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  // SNAKE
  .game-container {

    // FUNCTIONS 
    .page--show {
      display: block;
    }

    .page--hide {
      display: none;
    }

    .opacityAlpha0 {
      opacity: 0;
    }

    .opacityAlpha1 {
      opacity: 1;
    }

    .opacityCharAlpha0 {
      .char {
        opacity: 0;
      }
    }

    .game-center {
      width: 500px;
      height: 100%;
      margin: 0 auto;
      position: relative;

      .gameHeader {
        height: 85px;

        .left-block {
          position: relative;
          transform: scale(1);
          top: 200px;
          left: -150px;
          width: 340px;
          text-align: right;
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          perspective-origin: 80% 130%;
          perspective: 500px;

          .btn-item {
            position: relative;
            right: 0px;
            opacity: 0;

            // margin-bottom: 15px;
            margin-bottom: 25px;
            text-align: left;
            height: 25px;
          }

          .button {
            border: 1px solid #00ff0035;
            border-radius: 3px;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -3px;
            padding: 7px 15px;
            color: #00ff00;
            display: inline-block;
            cursor: pointer;

            .space {
              margin-left: 7px;
            }

            &:hover {
              border: 1px solid #00ff00;
              animation: anim_intro 1s 0.7s forwards infinite;
            }
          }

          // RANKING資訊
          .ranking-block {
            width: 250px;
            height: 300px;

            position: absolute;
            top: -150px;
            left: -200px;
            text-align: left;
            border: 7px solid #093609;
            border-radius: 3px;

            .title {
              color: #009b00;
              font-size: 20px;
              font-weight: 900;
              text-align: right;
              position: absolute;
              width: 100%;
              top: -6px;
            }

            .main-block {
              margin-top: 25px;
              height: 240px;
              // border: 1px solid #ff0000;
              display: grid;
              grid-template-columns: auto auto auto auto;

              .item {
                width: 60px;
                padding-left: 7px;
                color: #009b00;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }

            .footer {
              width: 100%;
              position: absolute;
              bottom: 0px;
              text-align: center;
              color: #00ff00;
            }
          }

          // CONTACT US
          .contact-block {
            position: absolute;
            width: 350px;
            // top: 190px;
            // left: -330px;
            top: 200px;
            left: -285px;

            .title {
              color: #0ce80c;
              text-align: center;
              font-size: 12px;
            }

            .title.self {
              letter-spacing: unset;
            }

            .main-block {
              font-weight: 200;
              color: #00ff00;

              .caption {
                font-size: 14px;
                text-align: left;

                .self {
                  letter-spacing: unset;
                }
              }

              .info-block {
                margin-top: 7px;
                font-size: 13px;
                padding-left: 120px;
                text-align: right;
                font-weight: bold;
                position: relative;
                color: #0d3609;

                .email {
                  color: #00ff00;
                  position: relative;
                }

                .facebook {
                  position: relative;
                }

                .linkein {
                  position: relative;
                }
              }

            }

          }
        }

        .right-block {
          position: relative;
          transform: scale(1);
          top: 120px;
          right: -295px;
          width: 340px;
          text-align: right;
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          perspective-origin: 25% 160%;
          perspective: 500px;

          .btn-item {
            position: relative;
            right: 0px;
            opacity: 0;
            margin-bottom: 25px;
            text-align: right;
            height: 25px;
          }

          .button {
            border: 1px solid #00ff0035;
            border-radius: 3px;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -3px;
            padding: 7px 15px;
            color: #00ff00;
            display: inline-block;
            cursor: pointer;

            .space {
              margin-left: 7px;
            }

            &:hover {
              border: 1px solid #00ff00;
              animation: anim_intro 1s 0.7s forwards infinite;
            }
          }

          // details資訊
          .details-block {
            position: absolute;
            top: -260px;
            right: -150px;
            width: 300px;
            text-align: left;

            .content {
              .block {
                margin-top: unset;
                margin-bottom: 10px;
                color: #00ff00;
              }
            }
          }

          // controls資訊
          .controls-block {
            position: absolute;
            // top: -70px;
            // right: -170px;
            // top: -85px;
            top: -90px;
            right: -180px;
            text-align: left;
            border: 10px solid #093609;
            border-radius: 3px;

            .content {
              padding: 5px 20px;

              .title {
                color: #00ff00;
                text-align: center;
              }

              .main-block {
                margin-top: 20px;
                padding: 5px;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto;
                grid-column-gap: 5px;
                grid-row-gap: 5px;

                .controls-btn {
                  width: 55px;
                  height: 55px;
                  font-size: 12px;
                  text-align: right;
                  border: 1px solid rgba(0, 255, 0, 0.2);
                  border-radius: 3px;
                  color: rgba(0, 255, 0, 0.2);
                  display: flex;
                  align-items: end;
                  justify-content: end;
                  cursor: pointer;

                  &:hover {
                    color: #00ff00;
                    border-color: #00ff00;
                    background: #003e00;
                  }
                }

                .isSelect {
                  color: #ffaa00;
                  border: 1px solid #ffaa00;
                  background: #261a00;
                }

                // grid postion 定位
                .up {
                  grid-column: 2/3;
                }

                .left {
                  grid-column: 1/2;
                }
              }

            }
          }

          .main-block {
            // border: 1px solid #00ff00;
            // border-radius: 3px;
          }
        }
      }

      .title-block {
        position: relative;

        h1 {
          // color: #001800;
          // font-weight: bold;
          padding-right: 200px;
          color: #00ff00;
          font-weight: 800;
          letter-spacing: -6px;
        }
      }

      .status-block {
        position: absolute;
        width: 100%;
        // top: 170px;
        top: 390px;
        right: -188px;

        transform: rotate(90deg);

        color: #00ff00;
        font-size: 23px;
        font-weight: 600;
        text-align: left;
        // letter-spacing: -3.5px;
        letter-spacing: 3px;
      }

      #main {
        height: 380px;
        margin: 0 auto;
        margin-top: -10px;
        // border-color: #001800;
        // border-image-source: linear-gradient(to right, #8f41e9, #578aef);
        // border-image-slice: 1;

        border: 10px solid transparent;
        border-radius: 20px;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(to right, #222, #222), linear-gradient(180deg, #00ff00, #ff0000);
        // background-image: linear-gradient(to right, #222, #222), linear-gradient(180deg, #8F41E9, #578AEF);

        // &::before {
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   bottom: 0;
        //   left: 0;

        //   width: 200%;
        //   height: 100px;
        // }
        position: relative;
        overflow: hidden;


        .mainBackground {
          position: absolute;
          width: 340px;
          height: 360px;
          border-radius: 10px;
          background: #b7d4a8;
        }

        #stage {
          border-color: #001800;
          top: 10px;
        }

        #score-panel {
          position: relative;
          width: 305px;
          bottom: unset;
          top: 10px;
          z-index: 9;

          .block {
            margin-top: unset;
            font-size: 20px;
            letter-spacing: -2.2px;

            .semicolon {
              margin-left: 2px;
              margin-right: 5px;
              position: relative;
              top: -2px;
            }
          }
        }

        .scan {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          width: 200%;
          height: 100px;

          /* linear-gradient() make a light */
          background-image: linear-gradient(to bottom,
              rgba(255, 255, 255, 0),
              rgb(244 255 241 / 13%),
              rgba(255, 255, 255, 0));

          /* rotate light */
          transform-origin: center center;
          transform: translate(-28%, 50%) rotate(-45deg);

          /* keyframes animation */
          // animation: ScanLights 3s linear 1s infinite;
        }
      }

      .footer {
        color: #ff0000;
        font-size: 10px;
      }

    }
  }

}