.loadPage {
  width: 100%;
  height: 100%;
  background: #ff00ff;
  position: absolute;
  z-index: 999;
  transform: scale(0);
}

// 遊戲大廳
.gameLobby {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  --nvbarColor: #ffa0a0;
  --nvbarColorBar: #ff7a78;
  --bgLobbyColor:#ffeaea;
  --bannerColor: #f6ae78;
  background: var(--bgLobbyColor);

  .lobbyContainer {
    // overflow: hidden;
    padding: 0px;
    margin: 0px;
  }

  .main .center .list-block-1 .list-game-block .game-block.alpha-1 {
    transform: scale(1);
    opacity: 1;
  }

  .nvbar {
    height: 70px;
    background: var(--nvbarColorBar);
    transform-origin: 50% 0%;
    // transform: translateY(0px);

    .nvbarContainer {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 0;
      overflow: hidden;
      // &::before {
      //   content: '';
      //   position: absolute;
      //   z-index: -2;
      //   left: 50%;
      //   top: 50%;
      //   transform: translate(-50%, -50%);
      //   width: 150%;
      //   height: 300%;
      //   // background-color: var(--lightColor);
      //   background-image: linear-gradient(to bottom,
      //       rgba(255, 255, 255, 0),
      //       rgba(255, 255, 241, 0.9),
      //       rgba(255, 255, 255, 0));
  
      //   // box-shadow: 0 0 5px var(--lightColor),
      //   //     0 0 25px var(--lightColor);
      //   // background-repeat: no-repeat;
      //   // background-size: 50% 50%;
      //   // background-position: 0 0;
      //   // background-image: conic-gradient(var(--lightColor), var(--lightColor));
      //   animation: rotate 5s linear infinite;
      // }
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0px;
        top: 0px;
        width: 100%;
        height: calc(100% - 9px);
        background: var(--nvbarColor);
        border-bottom: 1px solid #c533335e;
      }

      .content-block{
        margin-top: 3px;
        width: 100%;
        height: 60px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          margin-left: 10px;
          color: #fff;
          font-weight: 900;
          opacity: 0;

          // position: relative;
          // z-index: 999; 
          // transform: scale(1.5) rotate(348deg);
          // top: 5px;
          // left: 30px;


          .logoBox {
            position: relative;
            .char {
              opacity: 0;
            }

            .appyWord.self,
            .yoyoWord.self {
              letter-spacing: unset;
            }

            // --wordThicknessColor: #00ff74;
            // text-shadow:
            //   1px 1px var(--wordThicknessColor),
            //   2px 2px var(--wordThicknessColor),
            //   3px 3px var(--wordThicknessColor),
            //   4px 4px var(--wordThicknessColor),
            //   5px 5px var(--wordThicknessColor),
            //   6px 6px var(--wordThicknessColor);

            .firstWord {
              font-size: 35px;
              color: #ff0000;
              position: absolute;
              top: -35px;
              left: -15px;
              transform: translate(50%, 50%) rotate(354deg);
            }
            .appyWord {
              position: relative;
              top: -8px;
              left: 26px;
              font-size: 20px;
            }
            .fatWord {
              position: relative;
              color: #fff900;
              top: 2px;
              left: 2px;
              font-size: 25px;
              letter-spacing: -4px;
              z-index: 9;
              opacity: 0;
              .char {
                opacity: 1;
              }

              // FAT 字樣特效
              .char:nth-child(1) {
                // z-index: 15;
              }
              .char:nth-child(2) {
                transform: translateX(-13px);
                opacity: 0;
                // z-index: 14;
                animation-name: char_move1;
                animation-delay: 4s;
                animation-duration: 0.3s;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
              }
              .char:nth-child(3) {
                transform: translateX(-25px);
                opacity: 0;
                // z-index: 13;
                animation-name: char_move1;
                animation-delay: 4.5s;
                animation-duration: 0.3s;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
              }

              @keyframes char_move1 {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                  transform: translateX(0px);
                }
              }
            }
            .yoyoWord {
              position: absolute;
              top: 15px;
              left: 24px;
              font-size: 12px;
            }
          }

          .line1 {
            display: none;
            height: 1px;
            width: 102px;
            background: #2b0303;
            position: absolute;
            top: 47px;
            z-index: 1;
            transform: rotate(354deg);

            &::before {
              content: '';
              position: absolute;
              left: -5px;
              top: -10px;
              width: 150%;
              height: 23px;
              background: var(--nvbarColor);
              transform: rotate(6deg);
            }

            // .logo-line-move {
            //   animation-name: line_move1; // 動畫名稱
            //   animation-duration: 1s; // 持續時間
            //   animation-fill-mode: forwards;
            //   animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
            // }
            @keyframes line_move1 {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
                transform: translateX(0px);
              }
            }
          }

        }

        .settings {
          margin-right: 15px;
          .listBox {
            // border: 1px solid #ff0000;
            position: relative;
            top:18px;

            .setting-text {
              font-weight: 900;
              font-size: 25px;
              color: var(--nvbarColorBar);
              cursor: pointer;
              letter-spacing: -3px;

              // position: relative;
              // top: 8px;
              position: absolute;
              top: -10px;
              right: 0px;

              &:hover {
                animation-name: nvbar-hover; // 動畫名稱
                animation-duration: 0.3s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
                @keyframes nvbar-hover {
                  20% {
                    top: -40px; 
                    transform: scaleY(2.3);
                  } 
                  100% { top: -18px; }
                }
              }
            }
          }
        }

      }

      .footer {
        height: 9px;
        background: var(--nvbarColorBar);
        position: relative;
        top: -2px;
      }
    }
  }

  .main {
    .header {
      display: flex;
      position: relative;
      z-index: 11;

      .bannerBlock {
        height: 200px;
        width: 65%;
        background: var(--bannerColor);
        padding: 10px;
        position: relative;
        transform-origin: left 50%;
        transform: scale(0);
        margin-right: 15px;
        .content-block {
          width: 100%;
          height: 100%;
          border: 5px solid #fcffc6;
          border-radius: 15px;
          position: relative;
          z-index: 1;
        }
        .item.setting-text {
          position: absolute;
          top: 51px;
          right: -78px;
          transform: rotate(90deg);
          font-weight: 900;
          font-size: 30px;
          color: var(--bannerColor);
          letter-spacing: -3px;
          cursor: default;
    
          &:hover {
            animation-name: banner-hover; // 動畫名稱
            animation-duration: 0.3s; // 持續時間
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    
            @keyframes banner-hover {
              20% {
                right: -110px;
                transform: scaleX(2.3) rotate(90deg);
              }
    
              100% {
                right: -86px;
                transform: rotate(90deg);
              }
            }
          }
        }
        .footer {
          width: 200px;
          height: 20px;
          background: var(--bannerColor);
          transform: rotate(90deg);
          position: absolute;
          top: 90px;
          right: -89px;
        }
        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          left: 0px;
          top: 0px;
          width: calc(100% - 20px);
          height: 100%;
          background-image: linear-gradient(to right, #ff6a6a, #ffbc76);
        }
      }
      .contactBlock {
        display: none;
        height: 200px;
        width: 35%;
        position: relative;
        --contactColor: #57b0ff;
        .content-block {
          height: 190px;
          width: 130px;
          background: var(--contactColor);
          transform-origin: right 50%;
          position: absolute;
          top: 30px;
          right: 0px;
          transform: scaleX(0);
          
          .item.setting-text {
            position: absolute;
            top: 50px;
            right: 79px;
            // z-index: -1;
            line-height: 30px;
            transform: rotate(270deg);
            font-weight: 900;
            font-size: 25px;
            color: var(--contactColor);
            letter-spacing: -3px;
            cursor: default;

            &:hover {
              animation-name: contact-hover; // 動畫名稱
              animation-duration: 0.3s; // 持續時間
              animation-fill-mode: forwards;
              animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
          
              @keyframes contact-hover {
                20% {
                  right: 110px;
                  transform: scaleX(2.3) rotate(270deg);
                }
                100% {
                  right: 88px;
                  transform: rotate(270deg);
                }
              }
            }

          }
          .item.button-facebook {
            position: absolute;
            top: 241px;
            right: 73px;
            line-height: 14px;
            transform: scaleX(0) rotate(90deg);
            font-weight: 900;
            font-size: 20px;
            color: #68c9ff;
            letter-spacing: -3px;
            cursor: pointer;
            opacity: 0;

            &:hover {
              animation-name: facebook-hover; // 動畫名稱
              animation-duration: 0.3s; // 持續時間
              animation-fill-mode: forwards;
              animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);

              @keyframes facebook-hover {
                20% {
                  right: 95px;
                  transform: scaleX(2.3) rotate(90deg);
                }

                100% {
                  right: 80px;
                  transform: rotate(90deg);
                }
              }
            }
          }
          .item.button-facebook.animation-scale-90-show-end {
            transform: scaleX(1) rotate(90deg);
            opacity: 1;
          }

          .list-block {
            width: calc(100% - 13px);
            // height: 180%;
            height: 295px;
            background: #68c9ff;
            position: absolute;
            right: 0px;
            transform-origin: 50% 0%;
            transform: scaleY(0);
            opacity: 0;
            overflow: hidden;

            .item.button-email {
              position: absolute;
              top: -15px;
              right: 45px;
              line-height: 30px;
              transform: rotate(180deg);
              font-weight: 900;
              font-size: 25px;
              color: var(--bgLobbyColor);
              letter-spacing: -3px;
              cursor: pointer;

              &:hover {
                animation-name: email-hover; // 動畫名稱
                animation-duration: 0.3s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);

                @keyframes email-hover {
                  20% {
                    top: 15px;
                    transform: scaleY(2.3) rotate(180deg);
                  }

                  100% {
                    top: -6px;
                    transform: rotate(180deg);
                  }
                }
              }
            }

            .item.button-linkedin,
            .item.button-instagram {
              transform-origin: right 50%;
            }

            .item.button-linkedin {
              position: absolute;
              // top: 463px;
              top: 343px;
              right: -110px;
              line-height: 33px;
              transform-origin: left 50%;
              transform: rotate(270deg);
              font-weight: 900;
              font-size: 50px;
              // color: #8b00ff;
              // color: var(--bgLobbyColor);
              color: #4f7de8;
              letter-spacing: -5px;
              cursor: pointer;

              &:hover{
                animation-name: linkedin-hover; // 動畫名稱
                animation-duration: 0.4s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
              
                @keyframes linkedin-hover {
                  20% {
                    top: 275px;
                    transform: scaleY(1.3) rotate(270deg);
                  }
                  100% {
                    // top: 281px;
                    top: 282px;
                    right: -134px;
                    letter-spacing: -2px;
                  }
                }
              }
            }
            .item.button-instagram {
              position: absolute;
              top: 373px;
              right: 50px;
              line-height: 20px;
              transform-origin: right 50%;
              transform: rotate(90deg);
              font-weight: 900;
              font-size: 30px;
              // color: #8b00ff;
              // color: var(--bgLobbyColor);
              color: #4f7de8;
              letter-spacing: -3px;
              cursor: pointer;

              &:hover {
                animation-name: instagram-hover; // 動畫名稱
                animation-duration: 0.4s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);

                @keyframes instagram-hover {
                  20% {
                    top: 275px;
                    transform: scaleY(1.7) rotate(90deg);
                  }
                  100% { 
                    top: 286px;
                    letter-spacing: -1px;
                  }
                }
              }
            }
            .item.button-line {
              position: absolute;
              top: 373px;
              right: 50px;
              line-height: 20px;
              transform-origin: right 50%;
              transform: rotate(90deg);
              font-weight: 900;
              font-size: 30px;
              // color: #8b00ff;
              color: var(--bgLobbyColor);
              letter-spacing: -3px;
              cursor: pointer;

              &:hover {
                animation-name: instagram-hover; // 動畫名稱
                animation-duration: 0.4s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);

                @keyframes instagram-hover {
                  20% {
                    top: 275px;
                    transform: scaleY(1.7) rotate(90deg);
                  }

                  100% {
                    top: 286px;
                    letter-spacing: -1px;
                  }
                }
              }
            }
          }


          .header-footer {
            width: 117px;
            height: 20px;
            background: var(--bgLobbyColor);
            position: absolute;
            top: -20px;
            right: 0px;
          }
          .footer {
            width: 189px;
            height: 14px;
            background: var(--contactColor);
            transform: rotate(90deg);
            position: absolute;
            top: 88px;
            right: 28px;
          }
        }
      }
    }
    .header-left {
      display: flex;
      position: relative;
      height: 0px;
      z-index: 13;
      justify-content: right;

      .contactBlock {
        height: 200px;
        // width: 100%;
        position: relative;
        --contactColor: #57b0ff;
    
        .content-block {
          height: 190px;
          width: 130px;
          background: var(--contactColor);
          transform-origin: right 50%;
          position: absolute;
          // top: 30px;
          top: -165px;
          right: 0px;
          transform: scaleX(0);
    
          .item.setting-text {
            position: absolute;
            top: 50px;
            right: 79px;
            // z-index: -1;
            line-height: 30px;
            transform: rotate(270deg);
            font-weight: 900;
            font-size: 25px;
            color: var(--contactColor);
            letter-spacing: -3px;
            cursor: default;
    
            &:hover {
              animation-name: contact-hover; // 動畫名稱
              animation-duration: 0.3s; // 持續時間
              animation-fill-mode: forwards;
              animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    
              @keyframes contact-hover {
                20% {
                  right: 110px;
                  transform: scaleX(2.3) rotate(270deg);
                }
    
                100% {
                  right: 88px;
                  transform: rotate(270deg);
                }
              }
            }
    
          }
    
          .item.button-facebook {
            position: absolute;
            top: 241px;
            right: 73px;
            line-height: 14px;
            transform: scaleX(0) rotate(90deg);
            font-weight: 900;
            font-size: 20px;
            color: #68c9ff;
            letter-spacing: -3px;
            cursor: pointer;
            opacity: 0;
    
            &:hover {
              animation-name: facebook-hover; // 動畫名稱
              animation-duration: 0.3s; // 持續時間
              animation-fill-mode: forwards;
              animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    
              @keyframes facebook-hover {
                20% {
                  right: 95px;
                  transform: scaleX(2.3) rotate(90deg);
                }
    
                100% {
                  right: 80px;
                  transform: rotate(90deg);
                }
              }
            }
          }
    
          .item.button-facebook.animation-scale-90-show-end {
            transform: scaleX(1) rotate(90deg);
            opacity: 1;
          }
    
          .list-block {
            width: calc(100% - 13px);
            // height: 180%;
            height: 295px;
            background: #68c9ff;
            position: absolute;
            right: 0px;
            transform-origin: 50% 0%;
            transform: scaleY(0);
            opacity: 0;
            overflow: hidden;
    
            .item.button-email {
              position: absolute;
              top: -15px;
              right: 45px;
              line-height: 30px;
              transform: rotate(180deg);
              font-weight: 900;
              font-size: 25px;
              color: var(--bgLobbyColor);
              letter-spacing: -3px;
              cursor: pointer;
    
              &:hover {
                animation-name: email-hover; // 動畫名稱
                animation-duration: 0.3s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    
                @keyframes email-hover {
                  20% {
                    top: 15px;
                    transform: scaleY(2.3) rotate(180deg);
                  }
    
                  100% {
                    top: -6px;
                    transform: rotate(180deg);
                  }
                }
              }
            }
    
            .item.button-linkedin,
            .item.button-instagram {
              transform-origin: right 50%;
            }
    
            .item.button-linkedin {
              position: absolute;
              // top: 463px;
              top: 343px;
              right: -110px;
              line-height: 33px;
              transform-origin: left 50%;
              transform: rotate(270deg);
              font-weight: 900;
              font-size: 50px;
              // color: #8b00ff;
              // color: var(--bgLobbyColor);
              color: #4f7de8;
              letter-spacing: -5px;
              cursor: pointer;
    
              &:hover {
                animation-name: linkedin-hover; // 動畫名稱
                animation-duration: 0.4s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    
                @keyframes linkedin-hover {
                  20% {
                    top: 275px;
                    transform: scaleY(1.3) rotate(270deg);
                  }
    
                  100% {
                    // top: 281px;
                    top: 282px;
                    right: -134px;
                    letter-spacing: -2px;
                  }
                }
              }
            }
    
            .item.button-instagram {
              position: absolute;
              top: 373px;
              right: 50px;
              line-height: 20px;
              transform-origin: right 50%;
              transform: rotate(90deg);
              font-weight: 900;
              font-size: 30px;
              // color: #8b00ff;
              // color: var(--bgLobbyColor);
              color: #4f7de8;
              letter-spacing: -3px;
              cursor: pointer;
    
              &:hover {
                animation-name: instagram-hover; // 動畫名稱
                animation-duration: 0.4s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    
                @keyframes instagram-hover {
                  20% {
                    top: 275px;
                    transform: scaleY(1.7) rotate(90deg);
                  }
    
                  100% {
                    top: 286px;
                    letter-spacing: -1px;
                  }
                }
              }
            }
    
            .item.button-line {
              position: absolute;
              top: 373px;
              right: 50px;
              line-height: 20px;
              transform-origin: right 50%;
              transform: rotate(90deg);
              font-weight: 900;
              font-size: 30px;
              // color: #8b00ff;
              color: var(--bgLobbyColor);
              letter-spacing: -3px;
              cursor: pointer;
    
              &:hover {
                animation-name: instagram-hover; // 動畫名稱
                animation-duration: 0.4s; // 持續時間
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
    
                @keyframes instagram-hover {
                  20% {
                    top: 275px;
                    transform: scaleY(1.7) rotate(90deg);
                  }
    
                  100% {
                    top: 286px;
                    letter-spacing: -1px;
                  }
                }
              }
            }
          }
    
    
          .header-footer {
            width: 117px;
            height: 20px;
            background: var(--bgLobbyColor);
            position: absolute;
            top: -20px;
            right: 0px;
          }
    
          .footer {
            width: 189px;
            height: 14px;
            background: var(--contactColor);
            transform: rotate(90deg);
            position: absolute;
            top: 88px;
            right: 28px;
          }
        }
    
      }
    }
    .center {
      border: 1px solid #ff0000;
      height: 400px;
      position: relative;
      z-index: 12;

      .nvbarBlock {
        position: relative;
        top: 35px;
      }

      /* __GameList__ */
      .gameListBlock {
        margin-top: 45px;
        width: 195px;
        height: 100%;
        background: var(--gameListColor);
        border-radius: 0px 0px 85px 0px;
        position: absolute;
        --gameListColor:#f64d4d;
        transform-origin: 50% 100%;
        transform: scaleY(0);
        .note {
          position: absolute;
          color: var(--gameListColor);
          font-size: 12px;
          font-weight: bold;
          white-space: nowrap;
          z-index: 3;
          left: 200px;
          // letter-spacing: 12px;
        }

        .item.setting-text {
          line-height: 33px;
          color: var(--gameListColor);
          font-size: 45px;
          font-weight: 900;
          letter-spacing: -5px;
          position: absolute;
          top: -19px;
          left: -2px;
          z-index: -1;

          &:hover {
            cursor: default;
            animation-name: game-list-hover; // 動畫名稱
            animation-duration: 0.3s; // 持續時間
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        
            @keyframes game-list-hover {
              20% {
                top: -55px;
                transform: scaleY(1.5);
              }
        
              100% {
                top: -34px;
              }
            }
          }

          .path00 {
            width: 15px;
            height: 15px;
            border-top: 2px solid var(--gameListColor);
            border-left: 2px solid var(--gameListColor);
            position: absolute;
            transform: rotate(45deg);
            top: -4px;
            right: 2px;

            &:before {
              content: "";
              width: 6px;
              border: 1px solid var(--gameListColor);
              position: absolute;
              top: -5px;
              left: -7px;
              transform: rotate(45deg);
            }
          }
          .path01 {
            width: 3px;
            height: 3px;
            border: 2px solid var(--gameListColor);
            position: absolute;
            top: -17px;
            left: 177px;
            &:before {
              content: "";
              width: 15px;
              border: 1px solid var(--gameListColor);
              position: absolute;
              top: -1px;
              left: -8px;
              transform: rotate(45deg);
            }
            &:after {
              content: "";
              width: 15px;
              border: 1px solid var(--gameListColor);
              position: absolute;
              top: -1px;
              left: -8px;
              transform: rotate(135deg);
            }
          }
          .title-rotate {
            animation-name: mini-rotate; // 動畫名稱
            animation-duration: 1s; // 持續時間
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function:linear;
            // animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
            @keyframes mini-rotate {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg) 
              }
            }
          }

        }
        .footer{
          position: absolute;
          width: 100%;
          height: 16px;
          background: var(--gameListColor);
        }
      }
      /* __GameList. END__ */

      .list-block-1 {
        margin-top: 60px;
        width: calc(100% + 195px - 30px);
        height: 170px;
        position: relative;
        left:-190px;
        background: #f79797;
        border-radius: 0px 0px 30px 0px;
        background-image: linear-gradient(to right, #f56b6a, #487eed);
        transform-origin: 0% 50%;
        transform: scaleX(0);
        padding: 15px;
        overflow: hidden;

        .item.setting-text {
          line-height: 33px;
          color: var(--bgLobbyColor);
          font-size: 65px;
          font-weight: 900;
          letter-spacing: -6px;
          transform-origin: 100% 50%;
          text-align: left;
          width: 450px;
          height: 45px;
          position: absolute;
          top: 120px;
          right: -325px;
          z-index: 100;

          &:hover {
            cursor: default;
            animation-name: electronic-hover; // 動畫名稱
            animation-duration: 0.3s; // 持續時間
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        
            @keyframes electronic-hover {
              20% {
                right: -95px;
                transform: scaleX(1.5);
              }
              100% {
                right: -47px;
                letter-spacing: -1px;
              }
            }
          }
        }

        .list-game-block {
          border: 1px solid #ff0000;
          width: 65%;
          height: 100%;
          margin-left: 190px;

          display: flex;
          align-items: center;
          justify-content: end;

          .game-block{
            width: 140px;
            height: 140px;
            border-radius: 25px;
            background: #091b3f;
            // box-shadow: rgb(15 24 49) 0px 0px 10px;
            margin-left: 20px;
            transform: scale(0);
            opacity: 0;

            &:hover {
              animation-name: game-item-hover;
              animation-duration: 0.3s; 
              animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
              animation-fill-mode: forwards;

              @keyframes game-item-hover {
                0% { transform: scale(1); }
                20% { transform: scale(1.3); }
                40% { transform: scale(0.89); }
                60% { transform: scale(1.04); }
                80% { transform: scale(0.98); }
                100% { transform: scale(1); }
              }
            } 
          }
          .game-block.ready {
            cursor: default;
            background: #cccccc;
            border: 10px solid #fdeaea;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
              font-weight: 900;
              font-size: 120px;
              color:#474747;
            }
          }

          // SNAKE 
          .game-block.game.snake {
            cursor: pointer;
            // display: flex;
            // align-items: end;
            // justify-content: center;

            &:hover {
              box-shadow: rgb(159 255 94) 0px 0px 13px;
            }

            .content {
              width: 105px;
              height: 90px;
              margin-top: 15px;
              margin-left: 18px;
              border: 4px solid #73d733;
              border-radius: 5px;
              background: #b7d4a8;
            }

            .name {
              font-size: 30px;
              font-weight: 900;
              letter-spacing: -3px;
              line-height: 23px;
              color: #b7d4a8;
            }
          }
          .game-block.game.snake:hover {
            .content {
              border: 4px solid rgb(255, 250, 95);
              // box-shadow: rgba(255, 250, 95, 1) 0px 0px 7px;
            }
            .name {
              color: rgb(255, 250, 95);
            }
          }

          // RACING 
          .game-block.game.racing {
            cursor: pointer;
            background: #2a17ff;

            &:hover {
              box-shadow: rgb(159 255 94) 0px 0px 13px;
            }

            .content {
              width: 105px;
              height: 90px;
              margin-top: 15px;
              margin-left: 18px;
              border: 4px solid #04021f;
              border-radius: 5px;
              background: #7ccdff;
              overflow: hidden;

              .auto-light-1 {
                width: 300px;
                height: 25px;
                // background: rgba(255, 255, 255, 0.2);
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(244, 255, 241, 0.15), rgba(255, 255, 255, 0));
                position: relative;
                top: -110px;
                left: -55px;
                transform: rotate(315deg);
                animation: game_block_scan_lights 3s linear 1s infinite;

                @keyframes game_block_scan_lights {
                  0% { top: -110px; }
                  100% { top: 140px; }
                }
              }

              .light-1 {
                width: 50%;
                height: 5px;
                background: rgba(255, 255, 255, 0.4);
                position: relative;
                top: 10px;
                left: -15px;
                transform: rotate(315deg);
              }
              .light-2 {
                width: 100%;
                height: 12px;
                background: rgba(255, 255, 255, 0.4);
                position: relative;
                top: 15px;
                left: -30px;
                transform: rotate(315deg);
              }
              .light-3 {
                width: 50%;
                height: 3px;
                background: rgba(255, 255, 255, 0.4);
                position: relative;
                top: 70px;
                left: 58px;
                transform: rotate(315deg);
              }
            }

            .name {
              font-size: 30px;
              font-weight: 900;
              letter-spacing: -3px;
              line-height: 23px;
              color: #7ccdff;
            }
          }
          .game-block.game.racing:hover {
            .content {
              // border: 4px solid rgb(255, 250, 95);
              // box-shadow: rgba(255, 250, 95, 1) 0px 0px 7px;
            }

            .name {
              color: rgb(255, 250, 95);
            }
          }

        }
      }
    }
  }

  .main-footer {
    position: absolute;
    background: #474747;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 999;
  }
}


.effect2 {
  --color: #313334;
  margin-top: 100px;
}

.btn-sample02 {
  --color: #0ebeff;
  display: flex;
  .btn {
    position: relative;
    z-index: 0;
    // width: 100%;
    // height: 10px;
    width: 160px;
    height: 80px;
    line-height: 80px;
    color: var(--color);
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, .4));

    &:hover {
      color: #fff;
      box-shadow: 0 0 5px var(--color),
        0 0 25px var(--color);

      &::after,
      &::before {
        transition: .3s;
        background: var(--color);
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 150%;
      height: 300%;
      background-color: #000;
      background-repeat: no-repeat;
      background-size: 50% 50%;
      background-position: 0 0;
      background-image: conic-gradient(var(--color), var(--color));
      animation: rotate 2s linear infinite;
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: -1;
    //   left: 2px;
    //   top: 2px;
    //   width: calc(100% - 4px);
    //   height: calc(100% - 4px);
    //   background: #000;
    //   border-radius: 10px;
    // }
  }

  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(1turn);
    }
  }
  @keyframes popup {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    50% {
      transform: scale(0.95);
    }

    80% {
      transform: translateX(50px) translateY(50px) rotateY(70deg) scale(1.2) scaleY(.5);
    }

    100% {
      transform: translateX(50px) translateY(50px) rotateY(70deg) scale(1);
      opacity: 1;
    }

    // 0% { transform: scale(0); }
    // 20% { transform: scale(1.1); }
    // 50% { transform: scale(0.95); }
    // 80% { transform: scale(1.05); }
    // 100% { transform: scale(1); }
  }
}